[submodule "AFLplusplus"]
	path = AFLplusplus
	url = https://github.com/SbxBrk/AFLplusplus.git
[submodule "v8-build"]
	path = v8-build
	url = https://github.com/mute1008/sbxbrk-v8.git
[submodule "fuzzer"]
	path = fuzzer
	url = https://github.com/mute1008/sbxbrk-fuzzer.git
[submodule "FuzzilliSbx"]
	path = FuzzilliSbx
	url = https://github.com/SbxBrk/FuzzilliSbx.git
[submodule "evaluation"]
	path = evaluation
	url = https://github.com/SbxBrk/evaluation.git
